<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Web.Data.Properties.Settings.CargoInfoConnectionString"
            connectionString="Data Source=.;Initial Catalog=CargoInfo;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>