@{
    ViewBag.Title = "About";
}
<style type="text/css">
    .content .main {
    float: right;
    width: 705px;
}
    .content .main .position-title {
    border-bottom: 2px solid #403C68;
    color: #373C64;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 6px;
}
    .corpProfile .videopic {
    margin-top: 10px;
}
html, body, p, th, td, input, select, textarea, button, div {
    font-family: "microsoft yahei",Tahoma,sans-serif;
    font-size: 12px;
    line-height: 180%;
    margin: 0;
    padding: 0;
}
.depponabstruct p {
    line-height: 25px;
}
</style>

<div class="clear-fix"></div>

<div class="secondrow"  style="padding-left:100px;">
    <div class="main depponabstruct contactdeppion depponwed">
        <h3 style="font-size:20px; margin-bottom:20px;" class="position-title clear-fix">公司简介</h3>
        <div class="videopic clear-fix">
            <div>
                <img alt="bmgj" width="705" height="225" src="@Url.Content("~/Images/aboutus.jpg")" /></div>
        </div>

        <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp; 天津博贸国际“AAAAA”级物流企业，主营国内公路重货集装箱运输业务，创始于1996年。截止2013年5月，</font><span style="font-size: small"><span style="font-family: 微软雅黑">公司已开设直营网点 3200多家，服务网络遍及全国，自有营运车辆6000余台，全国转运中心总面积超过85万平方米。 &nbsp;</span></span></p>
        <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp; 公司始终以客户为中心随时候命、持续创新，始终坚持自建营业网点、自购进口车辆、搭建最优线路，优化运力成本，为客户提供快速高效、便捷及时、安全可靠的服务体验，助力客户创造最大的价值。</font></p>
        <p><font size="2" face="微软雅黑">&nbsp;&nbsp;&nbsp; 公司秉承“承载信任、助力成功”的服务理念，保持锐意进取、注重品质的态度，强化人才战略，通过不断的技术创新和信息化系统的搭建，提升运输网络和标准化体系，创造最优化的运载模式，为广大客户提供安全、快速、专业、满意的物流服务。一直以来，公司都致力于与员工共同发展和成长，打造人企双赢。在推动经济发展，提升行业水平的同时，努力创造更多的社会效益，为国民经济的持续发展，和谐社会的创建做出积极贡献，努力将德邦打造成为中国人首选的国内物流运营商，实现“为中国提速”的使命。</font></p>
        <p>
            <font size="2" face="微软雅黑"><font color="#c0c0c0">&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;<br>
</font><font size="3" color="#3f3b67">网点覆盖<br/>
</font>&nbsp;&nbsp;&nbsp;&nbsp; 截至2013年5月，德邦物流已开设直营网点3200多家。</font>
        </p>
        <p>
            <font size="2" face="微软雅黑">&nbsp;<br/>
<font size="3" color="#3f3b67">运输线路</font>&nbsp;<br/>
&nbsp;&nbsp;&nbsp;&nbsp; 四通八达的德邦物流运行线路，使您的货物通达至每一处有需要的地方。 </font>
        </p>
        <p>
            <font size="2" face="微软雅黑"><br/>
<font size="3" color="#3f3b67">枢纽中心</font> <br/>
&nbsp;&nbsp;&nbsp;&nbsp; 在全国20多个经济中心城市设有大型的货物中转基地，为您的货物及时中转提供了可靠保障。 </font>
        </p>
        <p>
            <font size="2" face="微软雅黑"><br/>
<font size="3" color="#3f3b67">业务覆盖</font> <br/>
&nbsp;&nbsp;&nbsp;&nbsp; 公司业务范围覆盖国内所有省级行政区，在全国各地都能看到“德邦”统一字样的店面遍布在繁华街道、工业园、批发市场和专业市场中。 </font>
        </p>
        <p>
            <font size="2" face="微软雅黑"><br/>
<font size="3" color="#3f3b67">转运中心</font> <br/>
&nbsp;&nbsp;&nbsp;&nbsp; 全国超过85万平方米宽敞、整洁的货台，拥有现代化机械设施的外场操作柜台，为您的货物中转、装卸提供可靠保障！ </font>
        </p>
        <p>
            <font size="2" face="微软雅黑"><br/>
<font size="3" color="#3f3b67">日吞吐量 <br/>
</font>&nbsp;&nbsp;&nbsp;&nbsp; 日吞吐货量近3万吨。</font>
        </p>
    </div>
    <div class="clear-fix" style="height:50px;"></div>
</div>
