
<div class="columns logo">
    @*<a href="http://theme.crumina.net/onetouch/">
        <img alt="OneTouch" src="http://theme.crumina.net/onetouch/wp-content/uploads/2013/01/logo.png"></a>*@
    
               @* <img alt="OneTouch" style="margin: 5px;" src="http://theme.crumina.net/onetouch/wp-content/uploads/2012/12/logo-footer.png"></a>*@
                
                <img alt="WanTong" style="float:right;" src="@Url.Content("~/Images/logo.png")"/>
     <div style="float:right;color:white; font-weight:bolder; margin-top:100px;">@Resources.SitePublic.CompanyName</div>
    
</div>

@Html.Partial("_Menu")
