<style type="text/css">


#exp-detail
{
    border-top: 0;
}

.exp-content
{
    font-size: 14px;
    zoom: 1;
    word-wrap: break-word;
    word-break: break-all;
}

#exp-detail #editor-content-summary
{
    zoom: 1;
}

#exp-detail .exp-content ol li
{
    padding: 1px 0 22px 42px!important;
    min-height: 20px;
    height: auto;
    zoom: 1;
}

#exp-detail .exp-content h2
{
    font-family: "microsoft yahei";
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 40px 0 0;
    border-bottom: 1px solid #f1f1f1;
}

.exp-content-block
{
    color: #333;
    line-height: 24px;
}

.exp-content-body
{
    text-align: justify;
    margin-top: 5px;
}

.exp-content-blog-body
{
    margin-top: 40px;
}

.exp-content-body p
{
    margin: 6px 0;
    font-size: 14px;
    line-height: 24px;
}

.exp-content-block-1 .content-listblock-media
{
    text-align: center;
}

.exp-content-block-album .content-list-image
{
    text-align: center;
}

#exp-detail .exp-content ul li
{
    background: url(../../Images/unsortlist.png) no-repeat scroll 0 5px transparent;
    float: none!important;
    margin: auto!important;
    padding: 0 0 0 15px!important;
}

#exp-detail .exp-content-block ol, #exp-detail .exp-content-block ul
{
    clear: both;
}

.exp-content-list
{
    position: relative;
}

li .list-icon
{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 16px;
    font-family: Microsoft Yahei;
    color: #efe;
    text-align: center;
    line-height: 32px;
    background: url(../../Images/step_ol_bg.png) no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,  sizingMethod=scale,  src="http://img.baidu.com/img/iknow/exp/global/step_ol_bg.png");
    _background: 0;
}
ul, ol {
    list-style: none outside none;
}
    /*.content-list-text
    {
        margin-left:50px;
    }*/
    /*-------------------------------------*/
  
</style>



<div class="secondrow" style="padding-top:20px; padding-left:100px;padding-right:100px;">

    <section id="exp-detail">
      
                <div class="exp-title-box clear-fix">
                    <div class="exp-title-wrapper"><span class="normal-exp"></span>
                      <span style="font-size:large; color:#333333;" title="配送中心流程" class="exp-title">配送中心流程</span>
                    
                    </div>
                </div>
        
     

        <div class="exp-content">
                                    <div class="exp-content-block">
                                        <div class="exp-content-body">
                                            <div class="exp-content-listblock">
                                                <div class="content-listblock-text">
                                                    <p>随着互联网的普及，越来越多的人在网上进行购物，聊天，人们与网络的关系越来越密切，互联网将成为人们生活密不可分的一部分。网上的各种物品的交易活动，都离不开物流配送，这里我给大家分享下物流配送中心的工作流程，让大家在以后的购物中实时了解自己货物的配送情况。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="exp-content-block">
                                        <h2 class="exp-content-head">步骤/方法 </h2>
                                        <div class="exp-content-body">
                                            <ol class="exp-conent-orderlist">
                                                <li class="exp-content-list list-item-1">
                                                    <div class="list-icon">1</div>
                                                    <div class="content-list-text">
                                                        <p>备货 </p>
                                                        <p>配送的准备工作和基础工作。备货工作包括筹集货源、订货、采购、集货、进货及有关的质量检查、结算、交接等。</p>
                                                        <p>配送的优势之一，就是可以集中若干用户的需求进行一定规模的备货。备货是决定配送成败的初期工作，如果备货成本太高，会大大降低配送的效益。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-2">
                                                    <div class="list-icon">2</div>
                                                    <div class="content-list-text">
                                                        <p>储存</p>
                                                        <p>配送中的储存有储备及暂存两种形态。</p>
                                                        <p>（1）储备配送储备是按一定时期的配送经营要求，形成的对配送的资源保证。这种类型的储备数量较大，储备结构也较完善，视货源及到货情况，可以有计划地确定周转储备及保险储备结构及数量。配送的储备保证有时在配送中心附近单独设库解决。</p>
                                                        <p>
                                                            （2）
暂存另一种储存形态是暂存，是具体执行配送时，按分拣配货要求，在理货场地所做的少量储存准备。由于总体储存效益取决于储存总量，所以，这部分暂存数量只
会对工作方便与否造成影响，而不会影响储存的总效益，因而在数量上控制并不严格。还有另一种形式的暂存，即是分拣、配货之后，形成的发送货载的暂存，这个
暂存主要是调节配货与送货的节奏，暂存时间不长。
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-3">
                                                    <div class="list-icon">3</div>
                                                    <div class="content-list-text">
                                                        <p>分拣及配货</p>
                                                        <p>
                                                            分拣及配货是配送不同于其他物流形式的有特点的功能要素，也是配送成败的一项重要支持性工作。分拣及配货是完善送货、支持送货准备性工作，是不同配送企
业在送货时进行竞争和提高自身经济效益的必然延伸，所以，也可以说是送货向高级形式发展的必然要求。有了分拣及配货，就会大大提高送货服务水平，所以，分
拣及配货是决定配送系统水平的关键要素。
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-4">
                                                    <div class="list-icon">4</div>
                                                    <div class="content-list-text">
                                                        <p>配装</p>
                                                        <p>
                                                            在单个用户配送数量不能达到车辆的有效载运负荷时，就存在如何集中不同用户的配送货物，进行搭配装载以充分利用运能、运力的问题，这就需要配装。和一般
送货不同之处在于，通过配装可以大大提高送货水平及降低送货成本，所以配装也是配送系统中有现代特点的功能要素，是现代配送不同于传统送货的重要区别之
处。
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-5">
                                                    <div class="list-icon">5</div>
                                                    <div class="content-list-text">
                                                        <p>配送运输</p>
                                                        <p>
                                                            配送运输属于运输中的末端运输、支线运输，和一般运输形态主要区别在于：配送运输是较短距离、较小规模、频度较高的运输形式，一般使用汽车和其他小型车
辆做运输工具。与干线运输的另一个区别是，配送运输路线选择问题是一般干线运输所没有的，干线运输的干线是惟一的运输线，而配送运输由于配送用户多，一般
城市交通路线又较复杂，如何组成最佳路线，如何使配装和路线有效搭配等，是配送运输的特点，也是难度较大的工作。
                                                        </p>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="exp-content-block">
                                        <h2 class="exp-content-head"><a href="javascript:;" name="section-3"></a>注意事项 </h2>
                                        <div class="exp-content-body">
                                            <ul class="exp-content-unorderlist">
                                                <li class="exp-content-list list-item-1">
                                                    <div class="content-list-text">
                                                        <p>配送中心是根据客户的入库指令视仓储情况做相应的入库受理。 </p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-2">
                                                    <div class="content-list-text">
                                                        <p>按所签的合同进行货物受理并根据给货物分配的库区库位打印出入库单。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-3">
                                                    <div class="content-list-text">
                                                        <p>在货物正式入库前进行货物验收，主要是对要入库的货物进行核对处理，并对所入库货物进行统一编号(包括合同号、批号、入库日期等)。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-4">
                                                    <div class="content-list-text">
                                                        <p>进行库位分配，主要是对事先没有预分配 的货物进行库位自动或人工安排处理，并产生货物库位清单。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-5">
                                                    <div class="content-list-text">
                                                        <p>库存管理主要是对货物在仓库中的一些动态变化信息的统计查询等工作。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-6">
                                                    <div class="content-list-text">
                                                        <p>对货物在仓库中，物流公司还将进行批号管理、盘存处理、内驳处理和库存的优化等工作，做到更有效的管理仓库。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-7">
                                                    <div class="content-list-text">
                                                        <p>根据系统的安排结果按实际情况进行人工调整。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-8">
                                                    <div class="content-list-text">
                                                        <p>在安排好后，系统将根据货物所放地点(库位)情况按自己设定的优化原则打印出拣货清单。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-9">
                                                    <div class="content-list-text">
                                                        <p>车辆运输途中可通过GPS车辆定位系统随时监控，并做到信息及时沟通。</p>
                                                    </div>
                                                </li>
                                                <li class="exp-content-list list-item-10">
                                                    <div class="content-list-text">
                                                        <p>在货物到达目的地后，经受货方确认后，凭回单向物流配送中心确认。</p>
                                                        <p></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                  
                                </div>
    </section>
    <div class="clear-fix" style="height: 50px;"></div>
</div>
