
<div class="clear-fix"></div>

<div class="secondrow" style="padding-top:20px; padding-left:100px;padding-right:100px;">
     <h1 style="font-size:large">长途搬运</h1>

    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td valign="top" width="80%" align="left">专业拆装空调专业长短途搬家，搬厂，搬写字楼，重型吊装移位，专业拆装空调，加雪种，天津市内实行24小时零担专车服务，外省实行保险托运。
                   
                    <br>
                    <span class="red-13-b">【我们的承诺】：</span> 专业的员工队伍，一步到位的服务宗旨，用一流的服务质量和效率伴您走进新的环宇和谐之家，您的满意就是我们的追求。<br>
                    <br>
                    <span class="red-13-b">【我们的愿望】：</span>希望和广大客户携手并进，将企业的规模扩大，成为有口皆碑、大家认可的知名企业<br>
                    <br>
                    <span class="red-13-b">【温馨提示】：</span> 搬家前希望各位新老客户把零散物品清理好，把贵重的物品保管，以免丢失误会。

                </td>
                <td>
                     <img align="right" src="@Url.Content("~/Images/ldt/1.jpg")" width="200" height="161" /><br>
                </td>
            </tr>
            <tr style="height:50px;"><td></td><td></td></tr>
            <tr>
                 <td valign="top" width="80%" align="left">
                    <strong>经营范围</strong>
                    <br>
                     · 宾馆、商厦、大卖场和个人的中小件货物搬运
                                    <br>
                     · 驻沪使领馆、在沪外国家庭的涉外特种搬场
                                    <br>
                     · 居民搬场、小件快运、大都市配送
                                    <br>
                     · 商务楼、企事业单位的大规模搬迁 
                 </td>
                <td>
                     <img align="right" src="@Url.Content("~/Images/ldt/2.jpg")" width="200" height="161" /><br>
                </td>
            </tr>
             <tr style="height:50px;"><td></td><td></td></tr>
             <tr>
                 <td valign="top" width="80%" align="left">
                    <strong>配套服务</strong>
                    <br>
                     · 工业设备拆卸、搬迁、安装、调试等系统服务
                                    <br>
                     · 拆装家具、空调
                                    <br>
                     · 贵重物品整理、打包
                                    <br>
                     · 免费提供周转箱、出租纸箱
                                    <br>
                     · 各类起重机械、设备
                 </td>
                <td>
                     <img align="right" src="@Url.Content("~/Images/ldt/3.jpg")" width="200" height="161" /><br>
                </td>
            </tr>
          
        </tbody>
    </table>
    <div class="clear-fix" style="height:50px;"></div>
</div>

